.menu{
	list-style-type: none;
	text-align: center;
}
.menu li{
	display: inline-block;
	padding: 2% 3% 2% 3%;
	font-weight: bold;
	text-transform: uppercase;
	width: 15%;

}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: purple;
}
